html {
    height: 100vh;
   }
body {
    box-sizing: border-box;
    padding: 20px;
    background: linear-gradient(to bottom, skyblue, rgb(184, 236, 227));
    background-repeat : no-repeat;
    background-size : cover; 
}
.layout {
    margin: auto;
    background: rgb(255, 244, 207);
    padding: 20px;
    width: 400px;
    height: 600px;
    border-radius: 10px;
}

.title {
    font-family: '';
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.add-todo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-todo input[type="text"],
.add-todo button[type="submit"] {
  margin: 5px;
}

.input {
    width: 250px;
    height: 30px;
    font-size: 25px;
    border: solid 3px mediumaquamarine;
    outline: none;
}


.submit {
    height: 35px;
    border: none;
    outline: none;
    background-color: mediumaquamarine;
    font-weight: bold;
}