html {
    height: 100vh;
   }
body {
    box-sizing: border-box;
    padding: 20px;
    background: linear-gradient(to bottom, skyblue, rgb(184, 236, 227));
    background-repeat : no-repeat;
    background-size : cover; 
}
.layout {
    margin: auto;
    background: rgb(255, 244, 207);
    padding: 20px;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    border: dotted 5px lightpink;
}

.title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.add-todo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-todo input[type="text"],
.add-todo button[type="submit"] {
  margin: 5px;
}

.input {
    width: 250px;
    height: 30px;
    font-size: 25px;
    border: solid 3px rgb(184, 236, 227);
    outline: none;
    border-radius: 5px;
}

.submit {
    height: 35px;
    border: none;
    outline: none;
    background-color: rgb(184, 236, 227);
    font-weight: bold;
    border-radius: 5px;
}

.submit:hover {
    background-color: skyblue;
}

.list-content {
    font-size: 20px;
    border-radius: 5px;
    list-style-type: none;
}
li {
    margin-bottom: 10px;
    border-bottom: solid 1px rgb(207, 206, 206);
    width: 235px;
    display: flex;
}
.todolist{
    background-color: white;
    margin: 40px;
    padding: 20px 0;
    position: relative;
    border-radius: 5px;
    border: solid 3px rgb(184, 236, 227);
}
.clear{
    position: absolute;
    right: 10px;
    bottom: 10px;
    outline: none;
    border: none;
    background-color: rgb(184, 236, 227);
    font-weight: bold;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}
.clear:hover {
    background-color: skyblue;
}

.cancelLine { /*toggle로 체크박스 구현*/
    text-decoration: line-through;
    color:rgb(207, 206, 206);
}

.trash{
    margin-left: auto;
    outline: none;
    border: none;
    background-color: rgb(184, 236, 227);
    border-radius: 5px;
    padding: 2px 7px;
    color: grey;
}

.trash:hover{
    background-color: skyblue;
}

.check {
    margin: 0 5px 0 0;
}
